.content {
    width: 1366px;
    margin: 0 auto;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
}
.header {
    width: 1064px;
    height: 45px;
    margin: 49px 147px 24px 155px;
}
a.logo {
    background-image: url("../img/logo.png");
    display: block;
    width: 46px;
    height: 44px;
    float: left;
    margin-right: 15px;
}
a.logo:hover {
    background-image: url("../img/logo2.png");
    width: 46px;
    height: 44px;
}
.header a {
    text-decoration: none;
    display: inline-block;
}
.left {
    width: 104px;
    text-align: left;
    font-family: Verdana, sans-serif;
    font-size: 29px;
    font-weight: 700;
    color: white;
    line-height: 21px;
    text-transform: uppercase;
}
.left span {
    font-size: 18px;
}
.right {
    width: 243px;
    text-align: right;
    float: right;
    font-family: Verdana, sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 400;
}
.main {
    width: 1107px;
    margin: 15px 126px 0 133px;
    display: inline-block;
}
.main a {
    text-decoration: none;
    font-family: Verdana, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
}
.main img {
    width: 305px;
    height: 198px;
    border: 2px solid transparent;
    border-image: linear-gradient(to top, transparent 0%, white 100%);
    border-image-slice: 1;
}
.main figure {
    float: left;
    padding: 8px 36px 22px 24px;
}
.main figcaption {
   text-align: center;
    padding-bottom: 56px;
}
.main :nth-child(4) {
    clear: left;
}
.footer {
    font-family: Verdana, sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: white;
    padding-bottom: 20px;
}
.main figcaption :hover {
    color: #f26522;
}
.left:hover {
    color: #f26522;
}
